{{ define "main" }}
<h1>Admin Categorias</h1>
{{ if . }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Produtos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Description}}</td>
      <td>{{.Count}}</td>
      <td><a href="/admin/categories/{{.ID}}">Editar</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ else }}
<p>Nenhuma categoria encontrada</p>
{{ end }}
<a href="/admin/categories/new" class="btn btn-primary">Nova Categoria</a>
</div>
{{ end }}
