<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Categoria - Admin - Festa do Açúcar</title>
  </head>
  <body>
    {{ if .ID }}
      <h1>{{.Name}}</h1>
    {{ else }}
      <h1>Nova Categoria</h1>
    {{ end }}
    <form action="/admin/categories/{{.ID}}" method="post">
      <input type="hidden" name="id" value="{{.ID}}" />
      <div>
        <label for="name">Nome</label>
        <input type="text" name="name" value="{{.Name}}" required />
      </div>
      <div>
        <label for="description">Descrição</label>
        <textarea name="description" rows="8" cols="40">{{.Description}}</textarea>
      </div>
      {{ if .ID }}
        <input type="submit" value="Alterar" />
      {{ else }}
        <input type="submit" value="Adicionar" />
      {{ end }}
    </form>
  </body>
</html>
