{{define "cart"}}
<div>
  {{if .Cart.Items}}
    <h3>Carrinho</h3>
    <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range .Cart.Items}}
        <tr>
          <td>{{.Product.Name}}</td>
          <td>{{.Quantity}}</td>
          <td>R$ {{.Price | printf "%.2f" }}</td>
          <td>
            <form method="post">
              <input type="hidden" name="id" value="{{.Product.ID}}" />
              <button type="submit" formaction="/cart/">+</button>
              <button type="submit" formaction="/cart/decrease">-</button>
              <button type="submit" formaction="/cart/remove">X</button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>{{.Cart.Quantity}}</td>
          <td>R$ {{.Cart.Price | printf "%.2f" }}</td>
        </tr>
      </tfoot>
    </table>
    {{if not .Cart.Ready}}
    <a href="/orders/">Finalizar Pedido</a>
    {{end}}
  {{end}}
</div>
{{end}}
