<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{.Category.Name}} Festa do Açúcar</title>
  </head>
  <body>
    <h1>{{.Category.Name}}</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{ range .Products }}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.Description}}</td>
            <td>R$ {{.Price | printf "%.2f" }}</td>
            <td>
              <form action="/cart/" method="post">
                <input type="hidden" name="id" value="{{.ID}}" />
                <button type="submit">Adicionar</button>
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    {{template "cart" .}}
  </body>
</html>
